.heading {
    text-align: center;
    color: white;
    padding: 30px;
    background: linear-gradient(184deg, #edd186, #c177cc);
}

.container {
   margin-top: 20px;
   margin-bottom: 20px;
}

.card {
    margin: 10px;
    padding: 10px;
    border: none;
    background: linear-gradient(184deg, #edd186, #c177cc);
    background-size: 100% 100%;
}

#searchButton {
    background-color: #dbb86c;
    border: none;
}

#clearBtn {
    background-color: #dbb86c;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 0.65rem 1rem;
    font-family: "Josefin Sans",sans-serif;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
}

.fa-search {
    color: white;
}

.hidden {
    display: none;
}

.show {
    display: block;
}


.citySearch {
    text-align: center;
}

.city-btn {
    margin: 5px;
}